
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-dark-text-weak);
    text-transform: capitalize;
    margin: 0 var(--d2);
    font-size: var(--f5);
    letter-spacing: .05rem;
}

.chip {
    display: inline-flex;
    align-items: center;
    margin: var(--d2);
    padding: var(--d3) var(--d4);
    border-radius: 16px;
    background-color: var(--color-dark-surface);
    color: var(--color-dark-onSurface);
    font-size: var(--f5);
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

.chip:hover {
    background-color: var(--color-dark-surfaceRaised);
}

.chip:active {
    background-color: var(--color-dark-onSurface);
}