:root {
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --color-text: #1b2d45;
    --color-heading: #00214d;

    --color-main: #fffffe;
    --color-secondary: #ff5470;
    --color-tertiary: #fde24f;
    --color-stroke: #00214d;
    --color-highlight: #00ebc7;
    --color-highlight-green: #45d197;

    --color-failure: #ff5470;
    --color-success: #45d197;


    --color-light-bg: #ffffff;
    --color-light-text: #000000;
    --color-light-textWeak: #7a7a7a;
    --color-light-border: #000000;
    --color-light-borderWeak: #dddddd;

    --color-dark-bg: #222222;
    --color-dark-text: #ffffff;
    --color-dark-text-weak: #e1e1f5;
    --color-dark-border: #19191f;
    --color-dark-surface: #292930;
    --color-dark-surfaceRaised: #5a5a6b;
    --color-dark-onSurface: #ababcc;

    --s1: 4px;
    --s2: 8px;
    --s3: 12px;
    --s4: 16px;
    --s5: 20px;
    --s6: 24px;
    --s7: 28px;
    --s8: 32px;
    --s9: 36px;
    --s10: 40px;
    --s11: 44px;
    --s12: 48px;
    --s13: 52px;
    --s14: 56px;
    --s15: 60px;
    --s16: 64px;

    --d1: 4px;
    --d2: 8px;
    --d3: 16px;
    --d4: 32px;
    --d5: 64px;
    --d6: 128px;
    --d7: 256px;
    --d8: 512px;

    --f0: 10px;
    --f1: 12px;
    --f2: 14px;
    --f3: 16px;
    --f4: 18px;
    --f5: 24px;
    --f6: 32px;
    --f7: 48px;
}

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

html, body {
    background: var(--color-dark-bg);
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: stretch;
    align-items: stretch;
    min-height: 100vh;
    color: var(--color-light-text);
    background: var(--color-dark-bg);
}

.home-wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

@keyframes blink {
    from {
        border-color: darkred;
    }
    to {
        border-color: transparent;
    }
}

.ctrl .cm-clickable-link:hover {
    cursor: pointer;
}

button {
    font-family: inherit;
}

h1 {
    font-size: var(--s6);
    font-weight: 600;
    margin-bottom: var(--s2);
}

h2 {
    font-size: var(--s5);
    font-weight: 600;
    margin-bottom: var(--s2);
}