
.window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--d3);
}

.section {
  width: 100%;
}

.section:not(:first-child) {
  margin-top: var(--d3);
}

.chips {
  display: flex;
  flex-wrap: wrap;
  margin: var(--d2) 0;
}