
.cursorWindow {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}

.cursor {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 100;
    top: 0;
    left: 0;
    transition: transform 1.2s ease-in-out;
}

.cursorName {
    position: absolute;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    opacity: .5;
    text-wrap: nowrap;
    text-align: center;
    font-weight: bold;
    transition: transform 1.2s ease-in-out;
}