
.cursorWindow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cursor {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 100;
    top: 0px;
    left: 0px;
    transform-origin: 50% -50%;
    transition: transform 1s ease-in-out;
}